.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e8e7e7;
}
.choose {
  margin-top: 15px;
  width: 100%;
  height: 40px;
}
.header .logo-img {
  float: left;
  position: absolute;
  left: 20px;
}
.fa {
  margin-right: 20px;
  font-size: 30px;
  color: gray;
  float: right;
}
.book {
  display: inline-block;
  width: 230px;
  height: 390px;
  box-shadow: 0 0 20px #aaa;
  background-color: #e8e7e7;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
}

.cover {
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
  position: relative;
}

.cover img {
  width: 100%;
}

.book p {
  margin-top: 12px;
  font-size: 20px;
}

.book .author {
  font-size: 15px;
  text-align: left;
}
.book .rating {
  font-size: 15px;
  text-align: right;
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: goldenrod;
  display: block;
  padding: 3px;
}

.container {
  margin: 0 auto;
  max-width: 910px;
}

#list-th:target .book {
  height: 100px;
  width: 250px;
  padding: 10px;
  margin: 25px auto 25px auto;
}

#list-th:target .cover {
  width: 246px;
}

#list-th:target img {
  opacity: .1;
}

#list-th:target p {
  margin-top: -62px;
  margin-left: 20px;
}
.searchInputWrapper {
  position: relative;
  margin-top: 30px;
}

.searchInput {
  width: 25rem;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: #e8e7e7;
  background-color: #e8e7e7;
  transition: transform 0.1s ease-in-out;
}

::placeholder {
  color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
.not-Found{
  margin: 30px;
}

.searchInputIcon {
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 25%;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.book-form-table{
  margin: 0 auto;
}
.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-checkbox {
  margin-bottom: 20px;
}

.form-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-delete {
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
